# ===== Java / Maven =====
**/target/
**/*.class
**/*.log

# ===== Eclipse =====
**/.project
**/.classpath
**/.settings/
.metadata/
**/bin/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Editors =====
.vscode/
.idea/

# ===== SQLite temp files =====
**/*.db-wal
**/*.db-shm

# ===== Optional local DB =====
# **/*.db

# ===== Generated Javadoc =====
iot/doc







